body
{
    background-color:darkcyan;
    font-family: 'Fasthand', cursive;
    margin: 0;
}
a
{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
header{
    display: flex;
    height: 70px;
    background-color:rgb(3, 97, 97);
    justify-content: space-between;
    text-align: center;
    padding:10px;
}
.logo
{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 16px;
}@media(max-width:700px)
{
    header
    {
        flex-direction: column;

    }
    nav {
        padding: 10px 0px;
    }
}
